<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{admin/layouts/admin-layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
</head>
<body>
    <div layout:fragment="mainContent">
        <form th:action="@{/admin/edit-article/__${article.id}__/edit}" method="post" th:object="${article}">
            <div class="card card-warning">
                <div class="card-header">
                        <h3 class="card-title">EDIT ARTICLE</h3>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="exampleInputTitle">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="exampleInputTitle" placeholder="Title">
                        <small class="text-danger" style="font-size: large" th:if="${#fields.hasErrors('title')}"
                               th:text="${#fields.errors('title').get(0)}"></small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDescription">Description</label>
                        <textarea th:field="*{description}" class="form-control" rows="3" id="exampleInputDescription" placeholder="Description"></textarea>
                        <small class="text-danger" style="font-size: large" th:if="${#fields.hasErrors('description')}"
                               th:text="${#fields.errors('description').get(0)}"></small>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputAuthor">Author</label>
                        <input type="text" th:field="*{author}" class="form-control" id="exampleInputAuthor" placeholder="Author">
                        <small class="text-danger" style="font-size: large" th:if="${#fields.hasErrors('author')}"
                               th:text="${#fields.errors('author').get(0)}"></small>
                    </div>
                </div>
            <!-- /.card-body -->

                <div class="card-footer m-3">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>
</body>
</html>