<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{admin/layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>REVIEW ARTICLES</title>
</head>
<style>
    .error-page {
        display: none!important;
    }
</style>
<body>
    <div layout:fragment="mainContent">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Articles List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0 text-center">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 20%">TITLE</th>
                            <th style="width: 30%">DESCRIPTION</th>
                            <th style="width: 15%">AUTHOR</th>
                            <th style="width: 30%">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="article,state : ${articleList}">
                            <td th:text="*{state.count}"></td>
                            <td th:text="*{article.title}"></td>
                            <td th:text="*{article.description}">
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                            </td>
                            <td th:text="*{article.author}">
                                <span class="badge bg-danger">100%</span>
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                   th:href="@{/admin/review-articles/{id}(id=${article.id})}"
                                   sec:authorize="${hasAnyRole('ADMIN','EDITOR','REVIEWER')}">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-warning"
                                   th:href="@{/admin/article/edit/{id}(id=${article.id})}"
                                   sec:authorize="${hasAnyRole('ADMIN','EDITOR','REVIEWER')}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger"
                                   th:href="@{/admin/article/delete/{id}(id=${article.id})}"
                                   sec:authorize="${hasAnyRole('ADMIN')}">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
        </div>
    </div>

</body>
</html>