<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{admin/layouts/admin-layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div layout:fragment="mainContent">
<!--        <div class="card">-->
            <section class="content pt-3 pl-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3 th:text="${articleList.size()}"></h3>
                                    <p>Articles</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-newspaper"></i>
                                </div>
                                <a sec:authorize="${hasAnyRole('ADMIN','EDITOR','REVIEWER')}" href="/admin/review-articles" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3 th:text="${articleList.size()}"></h3>
                                    <p>Articles</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-newspaper"></i>
                                </div>
                                <a sec:authorize="${hasAnyRole('ADMIN','EDITOR','REVIEWER')}" href="/admin/review-articles" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3 th:text="${articleList.size()}"></h3>
                                    <p>Articles</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-newspaper"></i>
                                </div>
                                <a sec:authorize="${hasAnyRole('ADMIN','EDITOR','REVIEWER')}" href="/admin/review-articles" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3 th:text="${articleList.size()}"></h3>
                                    <p>Articles</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-newspaper"></i>
                                </div>
                                <a sec:authorize="${hasAnyRole('ADMIN','EDITOR','REVIEWER')}" href="/admin/review-articles" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
<!--    </div>-->
</body>
</html>